* {
  box-sizing: border-box;
}

body {
  /* tipografía general del proyecto */
  font-family: 'Fira Sans Condensed', sans-serif;
  /* elimina los espacios predeterminados alrededor de las etiquetas */
  margin: 0;

  /* para que el "footer" quede siempre abajo
     aun con poco contenido en "main";
     se complementa con la regla css de línea 62 */

  display: flex; /* caja flexible */
  flex-direction: column; /* eje principal: vertical */
  min-height: 100vh; /* altura mínima: la altura del navegador */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* tipografía diferenciada de los títulos */
  font-family: 'Montserrat', sans-serif;
}

img {
  /* evita que las imágenes sean más grandes que la etiqueta que las contiene, eliminando scrolls horizontales */
  max-width: 100%;
}

a {
  color: white;
}

/*
clase para centrar contenidos
y limitar su ancho
*/
.contenedora {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}


/*
"componentes" encabezado y pie
*/
header,
footer {
  background-color: rgb(36, 60, 61);
}

header img,
footer img {
  max-width: 200px;
}

footer {
  /* para que el "footer" quede siempre abajo
     aun con poco contenido en "main";
     se complementa con las declaraciones
     de líneas 15, 16 y 17 */
  margin-top: auto;
}


/*
main
*/

main {
  padding: 15px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 4px;
}

ul li a {
  display: block;
  background: rgba(36, 60, 61, 0.5);
  border: solid 2px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  color: white;
  padding: 4px 8px;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  transition: all 1s ease;
}

ul li a:last-child:not(:only-child) {
  border-top: none;
}

ul li a:hover {
  background: rgba(36, 60, 61, 0.95);
  transition: all .3s ease;
}