/*
orden de las reglas de estilo:
de lo general a lo particular
y de arriba hacia abajo
*/


/* selector universal
(TODOS los elementos del HTML) */
* {
  /* el tamaño de las cajas pasa a calcularse hasta la parte externa de los bordes */
  box-sizing: border-box;
}

body {
  /* tipografía general del proyecto */
  font-family: 'Fira Sans Condensed', sans-serif;
  /* elimina los espacios predeterminados alrededor de las etiquetas */
  margin: 0;

  /* para que el "footer" quede siempre abajo
     aun con poco contenido en "main";
     se complementa con la regla css de línea 29 */
  display: flex; /* caja flexible */
  flex-direction: column; /* eje principal: vertical */
  min-height: 100vh; /* altura mínima: la altura del navegador */
}

footer {
  /* para que el "footer" quede siempre abajo
     aun con poco contenido en "main";
     se complementa con las declaraciones
     de líneas 24, 25 y 26 */
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* tipografía diferenciada de los títulos */
  font-family: 'Montserrat', sans-serif;
}

img {
  /* evita que las imágenes sean más grandes que la etiqueta que las contiene, eliminando scrolls horizontales */
  max-width: 100%;
}

a {
  color: rgb(65, 65, 151);
  font-weight: bold;
  text-decoration: none;
}


/*
clase para centrar contenidos
y limitar su ancho
*/
.contenedora {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}



/*
"componentes" encabezado y pie
*/

header,
footer {
  background-color: rgb(36, 60, 61);
}

header img,
footer img {
  max-width: 200px;
}



/*
"componente" principal
*/

main {
  padding-bottom: 30px;
}

section {
  /* caja flexible */
  display: flex;
  /* si sus elementos no caben,
    van a la siguiente línea de elementos */
  flex-wrap: wrap;
}

section h2 {
  /* "obliga" a los artículos a
    bajar a la siguiente línea */
  width: 100%;
}

article {
  /* caben 2 articulos por línea */
  width: 50%;
  padding: 15px;
  /* caja flexible */
  display: flex;
  /* si sus elementos no caben en una línea,
    bajan a la línea siguiente */
  flex-wrap: wrap;
  justify-content: space-between;
}

article * {
  margin: 0;
}

article h3 {
  /* para hacer que los elementos siguientes se vayan para abajo,
     por las declaraciones de las líneas 114 y 117 */
  width: 100%;
}

article h3,
.articulos article p {
  margin-bottom: 15px;
}

article img {
  background-color: white;
  border: solid 4px rgb(47, 47, 75);
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
  margin-right: auto;
}

.equipo p {
  width: 65%;
}

.est1,
.est4 {
  background-color: rgba(95, 158, 160, 0.35);
}

.est2 {
  background-color: rgba(95, 158, 160, 0.15);
}

.est3 {
  background-color: rgba(95, 158, 160, 0.75);
}

.articulos article {
  background-color: rgba(95, 158, 160, 0.062);
  /* cambia la dirección del eje principal
    de la caja flexible */
  flex-direction: column;
}

.articulos a:hover {
  background: rgba(36, 60, 61, 0.95);
}
.articulos a {
  background: rgba(36, 60, 61, 0.75);
  border-radius: 4px;
  color: white;
  margin-top: auto;
  margin-left: auto;
  padding: 4px 12px;
}